<div class="footer container-fluid no-mg">
    <div class="container">
        <div class="row">
            <div class="img-wrap col-md-5 col-md-offset-3 text-center">
                <a href="https://www.facebook.com/puchupuchumikhail.kalashnikov">
                    <img class="puchu shot all-trans img img-circle" 
                         src="<%= request.base_url + '/images/puchu-mikhail.jpg' %>" 
                         height="124" alt="Puchu Mikhail">
                </a>
            </div>
            <div class="about-me col-md-5 col-md-offset-3 text-center">
                <h4>A bit of Me</h4>
                <p>
                    When my mummy and duddy passed through a garbage dumpsite, <br>they saw me weeping, frightened and cold. They took pity on me, brought me to church and had me baptized. After that, they took me to their home and dressed me to stop chilling.
                </p>
                 
                <p>
                    After a while, I learned Web Development and other Tech stuff. <br>I created this blog for the documentation of my learnings. I did not make this website for you or for anybody else, just for my own memory. 
                </p>

                <p>
                    So, if you have any violent reaction, <br>keep it to yourself <br>'cause I don't give a Damn.
                </p>
                 
                <h5 style="color:orange">Viva El Gatos!</h5>
            </div>
        </div>
    </div>
</div>