<div class="wrap-share">
    <ul class="list-inline">
        <li><strong>SHARE THIS ON :</strong></li>
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-twitter-square fa-lg"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-google-plus-square fa-lg"></i>
            </a>
        </li>
        <li>
            <a class="fb-share" href="javascript:void(0);">
                <i class="fa fa-facebook-square fa-lg"></i>
            </a>
        </li>
    </ul>
</div>