<div class="panel panel-default top-bar dark animated bounceInDown">
    <div class="panel-body">
        <a class="pull-left" href="/">
            <i class="fa fa-home fa-2x"></i>
            <strong class="hidden-xs">&nbsp;Home</strong>
        </a>
        <a class="pull-right" href="<%= posts_path %>.json" target="_blank">
            <strong class="hidden-xs">API&nbsp;</strong>
            <i class="fa fa-paw fa-2x"></i>
        </a>
    </div>
</div>